* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}
/* HEADER */
.header{
  display:flex;
  align-items:center;
  gap:15px;
  padding:12px 30px;
  background:#fff;
}

/* LOGO IMAGE */
.menu-icon{
  width:80px;     
  height:50px;
  object-fit:contain;
}

/* TEXT LOGO */
.logo{
  font-size:18px;
  font-weight:700;
  color:#d94b8a;
}

/* SEARCH */
.search{
  margin-left:auto;
  padding:6px 10px;
  border:1px solid #ccc;
  border-radius:4px;
}

/* CART BUTTON */
.header button{
  background:none;
  border:none;
  cursor:pointer;
  margin-left:10px;
}

/* CART ICON */
.header button img{
  width:22px;        /* cart size */
  height:22px;
}

/* MAIN */
.container {
  display: flex;
  max-width: 1200px;
  margin: 40px auto;
  background: #e6e3e3;
}

.form-box {
  width: 50%;
  padding: 40px;
}

.form-box h2 {
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

/* Card */

.form-card {
  background: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align:left;
}
/* FORM FIELD */
.field {
  margin-bottom: 16px;
 
}

.field label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #333;
}

.field input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.field input:focus {
  outline: none;
  border-color: #d94b8a;
}

/* CHECKBOX */
.checkbox-group {
  margin: 15px 0;
}

.checkbox-group label {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #444;
}

.checkbox-group input {
  margin-top: 2px;
}

/* BUTTON */
.btn-main {
  width: 100%;
  padding: 8px;
  background: #d94b8a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-main:hover {
  background: #c13d78;
}

.or{
  text-align:center;
  margin:15px 0;
  font-size:13px;
  color:#0f0f0f;
}

/* SOCIAL BUTTONS */
.btn-social {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* GOOGLE */
.btn-social.google {
  border-color: #07f827;
}

.btn-social.google:hover {
  background: #f5f5f5;
}

/* FACEBOOK */
.btn-social.facebook {
  border-color:#1877f2;
}

.btn-social.facebook:hover {
  background-color: white;
}

.signin{
  text-align:center;
  margin-top:15px;
  font-size:14px;
  color:#555;
}
.signin a{
  color:#d94b8a;
  text-decoration:none;
  font-weight:500;
}
.signin a:hover{
  text-decoration:underline;
}

.image-box {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


/* FOOTER */
.footer {
  background: #fff;
  color: black;
  padding: 50px 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  font-family: Arial, sans-serif;
}

/* footer headings */
.footer h4 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}

/* footer text */
.footer p {
  font-size: 14px;
  margin-bottom: 8px;
  color: black;
  cursor: pointer;
}
/* social icons */
.footer img {
  width: 24px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

/* copyright */
.footer div:last-child {
  grid-column: 1 / -1; /* full width */
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.footer div:last-child h4 {
  font-size: 14px;
  font-weight: normal;
  color: #aaa;
}

